<!-- Tiedoston nimi on leffat.ejs -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/" class="pure-menu-link">HOMEPAGE</a>
        </li>
        <li class="pure-menu-item">BOOKLIST</li>
        <li class="pure-menu-item">
          <a href="/api/add" class="pure-menu-link">ADD BOOK</a>
        </li>
      </ul>
    </div>
    <br />
    <br />

    <div id="wrapper">
      <!--menu
      <%- include('../partials/menu') %>-->

      <!--contant-->
      <h1>Lukudiplomi Book List</h1>
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>Bookname</th>
            <th>Author</th>
            <th>Type</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- luodaan silmukka joka käy läpi taulu-muuttujan sisällön -->
          <% for (var i=0; i < taulu.length; i++){ %>
          <tr>
            <td>
              <a
                href="/api/update/<%= taulu[i]._id %>"
                onclick="return confirm('Update it or not?')"
                border="0"
                ><img src="../edit.png" height="30%" width="30%"
              /></a>
            </td>
            <td>
              <a
                href="/api/delete/<%= taulu[i]._id %>"
                onclick="return confirm('Delte it or not?')"
                border="0"
                ><img src="../delete.png" height="30%" width="30%"
              /></a>
            </td>
            <td><%= taulu[i].bookname %></td>
            <td><%= taulu[i].author %></td>
            <td><%= taulu[i].type %></td>
            <td>
              <a href="/api/get/<%= taulu[i]._id %>" border="0">
                <img src="<%= taulu[i].picture %>" height=" 30%" />
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!--footer
    <%- include('../partials/footer') %>-->
  </body>
</html>
